#title {
	display: flex;
	justify-content: center;
}

#description {
	display: flex;
	justify-content: center;
}

#survey-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

#email {

}

#name {

}

#number {

}

#submit-button {

}


