#title {
	display: flex;
	justify-content: center;
}

#description {
	display: flex;
	justify-content: center;
}

#survey-form {
	/*background-color: blue;*/
}

#email {

}

#name {
	justify-content: center;
}

#number {

}

#submit-button {

}


div {
	display: flex;
	justify-content: center;

}